* {
    padding: 0;
    margin: 0;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    
}


.header {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
}


.logo {
    font-size: 24px;
}


.content {
    background-color: white;
    padding: 20px;
    margin: 10px;
}


.content-left {
    text-align: left;
    margin-top: 15%;
    padding: 5%;
}


h1 {
    font-size: 50   px;
    margin-top: 10px;
}


nav {
    display: flex;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
}

span {
    color: red;
}

nav a:hover {
    text-decoration: 5px underline red;
}

